name: Tests

# Run this workflow on pushes and manually
on: [push, workflow_dispatch, pull_request]

jobs:
  test:
    env:
      # openbao-k8s version
      VERSION: "0.0.0-dev"
      TARBALL_FILE: openbao-k8s-image.docker.tar
    outputs:
      version: ${{ env.VERSION }}
      tarball_file: ${{ env.TARBALL_FILE }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          REGISTRY=quay.io make build image
          docker save --output "${TARBALL_FILE}" openbao/openbao-k8s:${{ env.VERSION }}

      - name: Test
        run: make test

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: ${{ env.TARBALL_FILE }}
          path: ${{ env.TARBALL_FILE }}

  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      # openbao-k8s version
      K8S_VERSIONS: '["1.33.7", "1.34.3", "1.35.1"]'
      OPENBAO_N: "2.5.0"
      OPENBAO_N_1: "2.4.4"
      OPENBAO_N_2: "2.3.2"

  latest-openbao:
    name: openbao:${{ matrix.openbao-version }} kind:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs:
      - test
      - versions
    strategy:
      fail-fast: false
      matrix:
        openbao-version:
          - ${{ needs.versions.outputs.OPENBAO_N }}
        k8s-version: ${{ fromJson(needs.versions.outputs.K8S_VERSIONS) }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/integration-test
        name: openbao:${{ matrix.openbao-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          openbao-version: ${{ matrix.openbao-version }}
          tarball-file: ${{ needs.test.outputs.tarball_file }}
          version: ${{ needs.test.outputs.version }}

  latest-k8s:
    name: openbao:${{ matrix.openbao-version }} kind:${{ matrix.k8s-version }}
    needs:
      - versions
      - test
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - ${{ fromJson(needs.versions.outputs.K8S_VERSIONS)[0] }}
        openbao-version:
          - ${{ needs.versions.outputs.OPENBAO_N_1 }}
          - ${{ needs.versions.outputs.OPENBAO_N_2 }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/integration-test
        name: openbao:${{ matrix.openbao-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          openbao-version: ${{ matrix.openbao-version }}
          tarball-file: ${{ needs.test.outputs.tarball_file }}
          version: ${{ needs.test.outputs.version }}
